body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #222;
    margin: 0;
    padding: 2rem;
    text-align: center;
}

.gallery h2 {
    font-family: "Delius", monospace;
    letter-spacing: 2px;
    margin: 120px 0 80px;
}

.grid__building {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1170px;
    margin: 0 auto;
}

.item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
    transition: 0.5s;
    opacity: 0.8;
}

.item:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    opacity: 1;
}

.item.wide {
    grid-column: span 2;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    font-size: 20px;
}

.info span {
    color: gray;
}

.icons {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    gap: 240px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.item:hover .icons {
    opacity: 1;
}

.grid__people {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    max-width: 1170px;
    margin: 0 auto;
}


.tall {
    height: 800px;
}

.grid__flowers {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    max-width: 1170px;
    margin: 0 auto;
}

.tall-span {
    grid-row: span 2;
    height: auto;
}

